img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


#img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    text-align: center;
}

#coluna1, #coluna2{
    width: 48%;
    float: left;
    margin: 1%;
}