img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


#img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    text-align: center;
}

#coluna1, #coluna2{
    width: 48%;
    float: left;
    margin: 1%;
}

.descript {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}